.checkbox-field{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox-field input[type="checkbox"] {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    margin-bottom:0;
}

.checkbox-field label {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-bottom:0;
}